<h1>Alterar Loja</h1>
<%= form_for @stores, url: storesupdate_path(@stores.id) do |f|%>
<%= f.label :name, 'nome' %>
<%= f.text_field :name %>
<%= f.label :floor, 'piso' %>
<%= f.text_field :floor %>
<%= f.submit 'Enviar' %>
<%end%>