<h1>Novo loja</h1>
<%= form_for @stores, url: storescreate_path do |f|%>
<%= f.label :name, 'nome' %>
<%= f.text_field :name %>
<%= f.label :floor, 'piso' %>
<%= f.text_field :floor %>
<%= f.submit 'Enviar' %>
<%end%>