<h1>Novo shopping</h1>
<%= form_for @shop, url: shoppingcreate_path do |f|%>
<%= f.label :name, 'nome' %>
<%= f.text_field :name %>
<%= f.label :address, 'piso' %>
<%= f.text_field :address %>
<%= f.submit 'Enviar' %>
<%end%>
